/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 5, 2016, 11:19:24 AM
    Author     : sudishth
*/

#block-feedmine-fm-feedback > h2 {
    background: #eee none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #0071b3;
    cursor: pointer;
    display: inline-block;
    padding: 3px 15px;
}
#feedmine-block-contents {
    background: #000 none repeat scroll 0 0;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 555;
}
#feedmine-block-contents > div {
    margin: 8% auto;
    width: 500px;
}